@using RMS.Models
@model ReportModel

<div class="card">
    <div class="card-header">
        <b>Filters</b>
    </div>
    <div class="card-body">

        <div>
            <form method="post" id="form">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <label>Tenant Name</label>
                            <select id="tenantId" class="form-control" asp-for="TenantId" asp-items="@(new SelectList(ViewBag.Tenants,"Id","Name"))"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 display" id="floorDisplayId">
                            <label>Floor</label>
                            <label asp-for="FloorId" id="floorId"></label>
                        </div>
                    </div>
                </div>

                @*<input type="button" value="See Last Payment" onclick="GetLastPayment(); dynamicFn("tenantId","2","3","//") class="btn btn-success" />*@
                <input type="button" value="See Last Payment" onclick="GetLastPayment()" class="btn btn-success" />
                <input type="button" value=" See Monthly Summary" onclick="MonthlySummary()" class="btn btn-primary" />
            </form>

        </div>
    </div>
</div>



<div id="LastPaid" style="display:none">
</div>
<div id="Monthlysummary" style="display:none">
</div>
<div id="LoadingImage" style="display:none">
    <img src="~/photo/Spinner-1s-200px.gif" width="100" height="100" style="vertical-align: middle; margin: 50px 450px" asp-append-version=true/>
</div>

<script>
    $(document).ready(function () {
        $('#floorDisplayId').hide();

        $('#tenantId').change(function () {
            var id = $(this).val();
            var url = "/TenantInfo/GetById?id=" + id;
            $('#floorDisplayId').hide();

            if (id == null || id == "") {
                $('#floorDisplayId').hide();
                return;
            }

            $.ajax({
                type: "get",
                url: url,
                dataType: 'json',

                success: function (data) {
                    $('#floorId').empty();
                    $('#floorDisplayId').show();
                    $("#floorId").append(data);
                },
                error: function () {
                     toasterror("Error");
                }
            })
        })
    })


    var GetLastPayment = function () {
        $('#LastPaid').hide();
        $('#Monthlysummary').hide();
        var Id = $('#tenantId').val();

        if (Id == null || Id == "")
        {
            toasterror("Name is required.")
        }

        else
        {
            $('#LoadingImage').show();
            $.ajax({
                url: "/Report/GetLastPaid",
                data: $('#form').serialize(),
                method: "post",
                
                success: function (data) {
                    $('#Alert').hide();
                    $('#LastPaid').show();
                    $('#LoadingImage').hide();
                    $('#LastPaid').html(data);
                },

                error: function (response) {
                    toasterror(response.status);
                }
            })
        }
    }


    //$.ajax({
    //    url: "/Report/GetLastPaid",
    //    data: $('#form').serialize(),
    //    method: "post",
    //    success: function (data) {
    //        console.log("sucess");
    //        $('#LastPaid').show();
    //        $('#LoadingImage').hide();
    //        $('#LastPaid').html(data);

    //    },

    //    error: function () {
    //        console.log("Error");
    //    }


    //})


    //var dynamicFn = function (htmlId1, htmlId2, htmlId3, url) {
    //    $(htmlId1).hide();
    //    $(htmlId2).hide();
    //    $(htmlId3).show();


    //    $.ajax({
    //        url: url,
    //        data: $('#form').serialize(),
    //        method: "post",
    //        success: function (data) {
    //            console.log("sucess");
    //            $('#LastPaid').show();
    //            $('#LoadingImage').hide();
    //            $('#LastPaid').html(data);

    //        },

    //        error: function () {
    //            console.log("Error");
    //        }


    //    })
    //}

    var MonthlySummary = function () {
        $('#Monthlysummary').hide();
        $('#LastPaid').hide();
        var Id = $('#tenantId').val();

        if (Id == null || Id == "") {
            toasterror("Name is Required .")
        }

        else {
            $('#LoadingImage').show();
            $.ajax({
                url: "/Report/GetMonthlySummary",
                data: $('#form').serialize(),
                method: "post",

                success: function (data) {
                    $('#Monthlysummary').show();
                    $('#LoadingImage').hide();
                    $('#Monthlysummary').html(data);
                },

                error: function () {
                    toasterror("Error")
                }
            })
        }
    }
</script>

