
@using RMS.Models
@model FamilyInfoModel


<div>
    <form method="post">

        <label>Tenant Name: </label>
        <input type="text" disabled name="FullName" value=@ViewBag.Name class="form-control" />
        @*<input type="hidden" name="parentId" value="@ViewBag.Id" class="form-control" />*@
        <label>Firstname</label><input type="text" name="FirstName" class="form-control" />
        <label>Lastname</label><input type="text" name="LastName" class="form-control" />
        <label>Address</label><input type="text" name="Address" class="form-control" />
        <label>Contact</label><input type="number" name="Contact" class="form-control"/>
        <label>gender</label><input type="text" name="gender" class="form-control"/>
        <label>Relationship</label><input type="text" name="Relationship" class="form-control" />
        <label>Date of Birht</label><input type="text" name="Dob" class="form-control" />
        <label>FloorId</label><input type="number" disabled name="FloorId" value="@ViewBag.Floor" class="form-control" />
        

        @*<input type="hidden" value="1" name="Id" />*@

        <div>
            <input type="submit" value="Create" class=" btn btn-success" />

            @Html.ActionLink("Back", "Index", "FamilyInfo", new { @class = "btn btn-primary" })

        </div>
    </form>
</div>



