@using RMS.Models
@model SetupModel



<div>
    <h1>Create Rent Information</h1>
    <form method="post">
        <div class="row form-group">
            <div class="col-md-4">
                <label>FloorId</label>
                <input type="text" name="FloorId"  class="form-control" />
            </div>
            <div class="col-md-4">
                <label>Amount</label>
                <input type="number" name="Amount"  class="form-control" />
                @Html.ValidationMessageFor(x=> x.Amount)
            </div>
        </div>
        <div>
            <input type="submit" value="Create" class="btn btn-success" />
            <a href="/Setup/Index" class="btn btn-primary">Back</a>
        </div>
    </form>
</div>

