@using RMS.Models
@model SetupModel

<div>
    <div class="card">
        <div class="card-header">
            Edit Rent Details
        </div>
        <div class="card-body">
            <form method="post">
                <div class="row form-group">
                    <div class="col-md-4">
                        <label>FloorId</label>
                        <input type="text" name="FloorId" value="@Model.FloorId" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <label>Amount</label>
                        <input type="number"  name="Amount" value="@Model.Amount" class="form-control" />
                    </div>
                </div>
                <div>
                    <input type="submit" value="Update" class="btn btn-success" />
                    <a href="/Setup/Index" class="btn btn-primary">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>

