@using RMS.Models
@model SetupModel

@if (Model.IsSuccess)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>@Model.SuccessMessage</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (!Model.IsSuccess && Model.flag == 1)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>@Model.SuccessMessage</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div class="table-responsive">
    
    <div class="card">
        <div class="card-header"> 
            Rent floor wise
                <a href="/Setup/Create"  style="float:right" class="btn btn-primary btn-sm">Create New</a>
        </div>
        <div class="card-body">
                    <table class=" table table-bordered tab-content table-hover">
                        <thead>
                            <tr>
                                <th>FloorId</th>
                                <th>Amount</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.list)
                            {
                                <tr class="info">
                                    <td>@item.FloorId</td>
                                    <td>@item.Amount</td>
                                    <td>
                                    <a href="/Setup/Edit/@item.Id" class="btn btn-primary btn-sm"><i class="fas fa-edit"></i></a>
                                    <a href="/Setup/Delete/@item.Id" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
            </div>
    </div>
</div>

